h1 {
    color: #FFFFFF; 
}

body {
    background-color:#C0D2BE; 
/*  background-image: url(images/sushipattern2.jpg);*/
}

h3{
    color: #FFFFFF;
}

.row1 {
    margin: auto;
    padding: 20px;
}

.column {
    width: 100px;
    display: inline-block;
    border: solid #FFFFFF 1px;
    padding: 10px 20px 5px 20px;
}


.group-pic {
    float: right;
    left: 10px;
    margin: 10px;
    padding: 10px;
}

.main_body {
    border: double gray 1px;
    color: #C0D2BE;
    background-color: #FFFFFF;
    padding: 10px;
    width: 75%;
    margin: auto;
}

.column {
    width: 50%;
}
.group {
    width: 50%;
}
