h1 {
    color: #828282; 
}

body {
    background-color:#C0D2BE; 
/*  background-image: url(images/sushipattern2.jpg);*/
}

.row1 {
    margin: auto;
    padding: 20px;
}

.column {
    width: 100px;
    display: inline-block;
    zoom: 1;
}


.group-pic {
    float: right;
    
    left: 10px;
    margin: 10px;
    padding: 10px;
}

.main_body {
    padding: 10px;
    width: 75%;
    margin: auto;
    border: solid black;
}

.column {
    width: 50%;
}
.group {
    width: 50%;
}
