body {
    font-family: Arial, Helvetica, sans-serif;
    color: #C0D2BE;
}

h3 {
    color: #C0D2BE;
    text-align: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    
}

input[type=submit] {
    background-color: #C0D2BE;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FFE5CD;
}

.container {
    border-radius: 5px;
    background-color: #828282;
    padding: 20px;
    width: 50%;
    margin: auto;
}

