/*
body {
    background-color: #FAF9F9;
    background-image:url(images/pic.jpeg);
    
    
}
*/

.billboard {
    background: rgba(255,221,190,0.5);
    padding: 60px;
    margin: -48px -8px 10px -8px;
    text-align: center;
}


div.welcome_banner{
    display: block;
    width: 350px;
    position: absolute;
    right: 800px;
    padding: 0px 10px 0px 10px;
    top: 250px;
    color: #828282;
    background-color: #FFE5CD;
/*    border-style: groove;*/
    text-align: center;
}

div.info_box {
    display: block;
    width: 350px;
    position: absolute;
    right: 800px;
    color: #828282;
    background-color: #FFE5CD;
/*    border-style: groove;*/
    top: 330px;
    padding: 30px 10px 30px 10px;
    position: absolute;
}

.logo {
    display: block;
    position: fixed;
    right: 380px;
    top: 200px;
/*    padding: 10px 10px 0px 10px;*/
    position: absolute;
}

div.img_scroll {
/*    border: double lightgray;*/
    position: absolute;
    left: 900px;
    top: 290px;
    width: 300px;
    height: 300px;
}

.social-media {
    width: 500px;
    padding-top: 30px;
    margin: auto;
}

.address {
    width: 200px;
    padding-top: 300px;
    margin: auto;
}