body {
    font-family: "Times New Roman", Georgia, Serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display"; letter-spacing: 5px;
}

h1 {
    text-align: center;
}

.food {
    float: right;
    padding-right: 30px;
    padding-top: 30px;
}

.menu {
    padding-left: 70px;
}